* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all .2s linear;
  background-color: #366072;
  }

  /*Font Settings*/
  h1 {
    font-size: 75px;
    font-family: 'Source Code Pro';
  }

  /*h1-class*/
  .watermark {
    color: #979A9A;
    font-family: 'Monsterrat Alternates';
    font-size: 200px;
    user-select: none;
  }

  h2 {
    font-size: 50px;
    font-family: 'Source Code Pro';
  }

  /*h2-class-typewriter-animation*/
  .line {
    position: relative;
    top: 50%;
    width: 16em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
  }

  .anim-typewriter {
    animation: typewriter 24s steps(40) 1s 1 normal both,
    blinkTextCursor 620ms steps(40) infinite normal;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 16em;
    }
  }

  @keyframes blinkTextCursor {
    from {
      border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
      border-right-color: transparent;
    
  }}

  h3 {
    font-size: 20px;
    font-family: 'Montserrat Alternates';
  }

  h4 {
    font-size: 12px;
    font-family: 'Homemade Apple';
    color: #7B7D7D;
  }

  p {
    font-size: 16px;
    font-family: 'Montserrat Alternates';
  }
  
  /*Navbar*/
  body, html {
    overflow-x: hidden;
  }
  
  #nav-toggler {
   -webkit-appearance: none;
   position: fixed;
   top: 20px; right: 30px;
   cursor: pointer;
   z-index: 1010;
   font-size: 2rem;
   color: white;
  }
  
  #nav-toggler:checked {
   transform: rotate(180deg);
  }
  
  #nav-toggler:checked::before {
   content: '';
   color: white;
   transition: .2s linear ,2s;
   background-color: #737373;
  }
  
  #nav-toggler:checked ~ .navbar {
   left: 0;
  }
  
  .navbar {
    position: fixed;
    top: 0; left: -110%;
    height: 100%;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
    padding: 0 10%;
  }
  
  .navbar a {
   font-size: 4em;
   position: relative;
   font-family: 'Source Code Pro';
   color: white;
   text-decoration: none;
  }
  
  .background-image {
   position: absolute;
   top: 0; left: 0;
   height: 100%;
   width: 100%;
   background: url(../Pictures/background-image.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   z-index: -1;
  }
  
  .navbar a:hover:nth-child(2) ~ .background-image {
   background: url(../Pictures/background-image-2.jpg) no-repeat;
   background-size: cover;
   background-position: center;
  }
  
  .navbar a:hover:nth-child(3) ~ .background-image {
   background: url(../Pictures/background-image-3.jpg) no-repeat;
   background-size: cover;
   background-position: center;
  }
  
  .navbar a:hover:nth-child(4) ~ .background-image {
   background: url(../Pictures/background-image-4.jpg) no-repeat;
   background-size: cover;
   background-position: center;
  }
  
  .navbar a:hover:nth-child(5) ~ .background-image {
   background: url(../Pictures/background-image-5.jpg) no-repeat;
   background-size: cover;
   background-position: center;
  }
  
  @media (max-width:768px) {
   .navbar a {
      font-size: 3em;
   }
  }
  
  @media (max-width: 450px) {
   .navbar a {
      font-size: 2em;
   }
  }

/*Sections & Text for Sections*/
 .model-viewer-index {
    flex: 1;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #model-viewer-for-index {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0px;
    justify-content: center;
    align-items: center;
    --poster-color: transparent;
  }
  
  .model-viewer--poster {
    position: absolute;
  }

  .Hotspot{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: #cfd9cc;
    box-sizing: border-box;
    pointer-events: none;
  }

  
  .Hotspot[slot="hotspot-1"]{
    --min-hotspot-opacity: 0;
    background-color: #918267;
  }

  .HotspotAnnotation{
    background-color: #cfd9cc;
    position: absolute;
    transform: translate(10px, 10px);
    border-radius: 10px;
    padding: 10px;
  }

  .home {
    position: absolute;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    top: 1000px;
    left: 0px;
    color: white;
    z-index: 1;
  }

  .home-text {
    position: absolute;
    box-sizing: border-box;
    height: 55vh;
    width: 100vw;
    top: 0px;
    left: 200px;
    color: white;
    overflow: hidden;
    z-index: 5;
  }

  .S {
    font-family: 'Monofett';
    color: #fff;
    font-weight: 200;
  }

  .about-me {
    position: absolute;
    box-sizing: border-box;
    height: 150vh;
    width: 100vw;
    top: 2100px;
    left: 0px;
    color: white;
    overflow: hidden;
  }

  .about-text {
    position: absolute;
    box-sizing: border-box;
    height: 100vh;
    width: 35vw;
    top: 200px;
    left: 200px;
    color: white;
    overflow: visible;
  }

  .about-watermark {
  position: absolute;
  top: 1000px;
  left: 0px;
}

  .about-me-page {
    position: absolute;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    color: white;
    overflow: hidden;
  }

  .about-page-model {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
  }

  .about-page-model-viewer {
    width: 50%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0px;
    right: 60px;
    --poster-color: transparent;
    z-index: 2;
  }

  .contact {
    position: absolute;
    box-sizing: border-box;
    height: 150vh;
    width: 100vw;
    top: 3000px;
    left: 0px;
    color: white;
    overflow: visible;
    display: grid;
    align-items: center;
  }

  .contact-page {
    position: absolute;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    color: white;
    overflow: hidden;
    display: grid;
    align-items: center;
  }


  .contact-text {
    position: absolute;
    box-sizing: border-box;
    height: 100vh;
    width: 35vw;
    top: 490px;
    right: 200px;
    color: white;
    overflow: visible;
  }

  .contact-page-text {
    position: absolute;
    box-sizing: border-box;
    height: 100vh;
    width: 35vw;
    top: 50px;
    right: 200px;
    color: white;
    overflow: visible;
  }

  .contact-in {
      position: absolute;
      top: 800px;
      left: 200px;
      width: 80%;
      height: auto;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 0px #fff;
  }

  .contact-page-in {
    position: absolute;
    top: 300px;
    left: 200px;
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #fff;
}

  .contact-map {
    width: 100%;
    height: auto;
    flex: 50%;
  }

  .contact-map iframe {
    width: 100%;
    height: 100%;
  }

  .contact-form {
    width: 100%;
    height: auto;
    flex: 50%;
    text-align: center;
    padding: 30px;
  }

  
  .contact-form h2 {
    margin-bottom: 10px;
    font-size: 36px;
  }

  .contact-form-txt {
    width: 100%;
    height: 40px;
    color: #000000;
    border: 1px solid #fff;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #cfd9cc;
  }

  .contact-form-textarea {
    font-family: 'Montserrat Alternates';
    width: 100%;
    height: 130px;
    color: #000000;
    border: 1px solid #918267;
    border-radius: 30px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #cfd9cc;
  }

  .contact-form-btn {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: #918267;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 16px;
  }

  .work-watermark {
    position: absolute;
    top: 1100px;
    right: 20px;
    z-index: 5;
  }

  .Website-Plans {
    position: absolute;
    box-sizing: border-box;
    height: 150vh;
    width: 100vw;
    max-width: 1440px;
    top: 4980px;
    left: 0px;
    color: white;
  }

  .Website-Plans-Page {
    position: absolute;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    max-width: 1440px;
    top: 0px;
    left: 0px;
    color: white;
    overflow: hidden;
  }

  .plans-text {
    position: absolute;
    box-sizing: border-box;
    height: 100vh;
    width: 35vw;
    top: 100px;
    left: 200px;
    color: white;
    overflow: visible;
  }

  .plans-page-text {
    position: absolute;
    box-sizing: border-box;
    height: 100vh;
    width: 35vw;
    top: 50px;
    left: 200px;
    color: white;
    overflow: hidden;
  }

  header {
    color: #fff;
    margin: 3.3rem 0;
  }

  .toggle {
    margin-top: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
  }
  .toggle-btn {
    margin: 0 1rem;
  }
  .checkbox {
    display: none;
  }
  
  .sub {
    background-color: #918267;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 1.6rem;
    width: 3.3rem;
    border-radius: 1.6rem;
    padding: 0.3rem;
  }
  .circle {
    background-color: #fff;
    height: 1.4rem;
    width: 1.4rem;
    border-radius: 50%;
  }
  .checkbox:checked + .sub {
    justify-content: flex-end;
  }

  .cards {
    position: absolute;
    top: 400px;
    left: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .page-cards {
    position: absolute;
    top: 300px;
    left: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card {
    background: #918267;
    color: #fff;
    border-radius: 0.8rem;
  }
  
  .cards .card.active {
    background-color: #918267;
    color: #fff;
    display: flex;
    align-items: center;
    transform: scale(1.1);
    z-index: 1;
  }
  .page-cards .card.active {
    background-color: #918267;
    color: #fff;
    display: flex;
    align-items: center;
    transform: scale(1.1);
    z-index: 1;
  }
  ul {
    margin: 2.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  ul li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
    background-color: #918267;
  }
  ul li.price {
    font-size: 3rem;
    color: hsl(232, 13%, 33%);
    padding-bottom: 2rem;
  }
  .shadow {
    box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
  }
  
  .card.active .price {
    color: #fff;
  }
  
  .btn {
    margin-top: 1rem;
    height: 2.6rem;
    width: 13.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
    cursor: pointer;
    border-radius: 4px;
    background: #cfd9cc;
    color: #fff;
    outline: none;
    border: 0;
    font-weight: bold;
  
  }
  
  .btn:hover{
  
    background: #fff;
  
       color: #366072;
  }
  
  .active-btn {
    background: #cfd9cc;
    color: #fff;
  }
  .bottom-bar {
    border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
  }
  .card.active .bottom-bar {
    border-bottom: 2px solid hsla(240, 8%, 85%, 0.253);
  }
  .pack {
    font-size: 1.1rem;
  }
  
  @media (max-width: 280px) {
    ul {
      margin: 1rem;
    }
    h1 {
      font-size: 1.2rem;
    }
    .toggle {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 80px;
    }
    .cards {
      margin: 0;
      display: flex;
      flex-direction: column;
    }
  
    .card {
      transform: scale(0.8);
      margin-bottom: 1rem;
    }
    .cards .card.active {
      transform: scale(0.8);
    }
  }
  
  @media (min-width: 280px) and (max-width: 320px) {
    ul {
      margin: 20px;
    }
    .cards {
      display: flex;
      flex-direction: column;
    }
    .card {
      margin-bottom: 1rem;
    }
    .cards .card.active {
      transform: scale(1);
    }
  }
  
  @media (min-width: 320px) and (max-width: 414px) {
    .cards {
      display: flex;
      flex-direction: column;
    }
    .card {
      margin-bottom: 1rem;
    }
    .cards .card.active {
      transform: scale(1);
    }
  }
  @media (min-width: 414px) and (max-width: 768px) {
    .card {
      margin-bottom: 1rem;
      margin-right: 1rem;
    }
    .cards .card.active {
      transform: scale(1);
    }
  }
  @media (min-width: 768px) and (max-width: 1046px) {
    .cards {
      display: flex;
    }
    .card {
      margin-bottom: 1rem;
      margin-right: 1rem;
    }
    .cards .card.active {
      transform: scale(1);
    }
  }

  .plans-watermark {
    position: absolute;
    width: 35vw;
    top: 1790px;
    left: 0px;
    z-index: 8;
  }

  .footer {
    position: absolute;
    top: 1400px;
    left: 670px;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

  .testimonials {
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .testimonials-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testimonials-heading h1 {
    font-size: 2.2rem;
    font-weight: 500px;
    color: #fff;
    padding: 10px 20px;
  }

  .testimonials-heading span {
    font-size: 1.3rem;
    color: #cfd9cc;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .testimonials-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .testimonials-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #366072;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
  }

  .testimonials-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
  }

  .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }

  .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .profile {
    display: flex;
    align-items: center;
  }

  .name-user {
    display: flex;
    flex-direction: column;
  }

  .name-user strong {
    color: #cfd9cc;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }

  .name-user span {
    color: #fff;
    font-size: 0.8rem;
  }

  .review {
    color: #f9d71c;
  }

  .box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .client-comment p{
    font-size: 0.9rem;
    color: #fff;
  }

  .checkout-information-text {
    position: absolute;
    box-sizing: border-box;
    font-family: 'Montserrat alternates';
    height: 100%;
    width: 50%;
    top: 300px;
    left: 100px;
    color: white;
    overflow: hidden;
  }

  .Learn-More-page {
    position: absolute;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    color: white;
    overflow: hidden;
  }

  .checkout-part {
    width: 50%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    min-height: 100vh;
    background: #cfd9cc;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
  }

  .checkout-part form {
    background: #366072;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
  }

  .checkout-part form .inputBox {
    margin-top: 20px;
  }

  .checkout-part form .inputBox span {
    display: block;
    color: #cfd9cc;
    padding-bottom: 5px;
  }

  .checkout-part form .inputBox input,
  .checkout-part form .inputBox select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: #cfd9cc;
  }

  .checkout-part .flexbox {
    display: flex;
    gap: 15px;
  }

  .checkout-part .flexbox .inputBox {
    flex: 1 1 150px;
  }

  .checkout-part form .submit-btn {
    width: 100%;
    background: #918267;
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
  }

  .checkout-part form .submit-btn:hover {
    letter-spacing: 2px;
    opacity: 0.8;
  }

  .checkout-part .card-container {
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
  }

  .checkout-part .card-container .front {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background: #366072;
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }

  .checkout-part .card-container .front .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }

  .checkout-part .card-container .front .image img {
    height: 50px;
  }

/*about(shae) model*/
  .model-viewer {
    width: 50%;
    height: 75%;
    display: flex;
    position: absolute;
    top: 0px;
    right: 60px;
    --poster-color: transparent;
    z-index: 2;
  }

  .about-model {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
  }

  .HotspotAnnotation {
    background-color: #cfd9cc;
    font-family: 'Montserrat Alternates';
    font-size: 16px;
  }

  .Hotspot[slot="hotspot-2"]{
    --min-hotspot-opacity: 0;
    background-color: #918267;
  }

  .Hotspot[slot="hotspot-3"]{
    --min-hotspot-opacity: 0;
    background-color: #918267;
  }

  @media only screen and (max-width: 600px) {
    h1 {
      display: flex;
      width: 85%;
      height: 100vh;
      margin-top: auto;
      vertical-align: center;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
    }
  }

  /*AOS Pop-in-Videos*/
  .aos-coffee {
  position: absolute;
  top: 900px;
  left: -200px;
  z-index: 5;
  }

  .coffee {
    width: 900px;
  }

  
  .retro {
    width: 800px;
  }

  .aos-retro-computer {
    position: absolute;
    top: 600px;
    right: 0px;
    }

  .aos-music {
    position: absolute;
    top: 1400px;
    right: -200px;
  }

  .music {
    width: 900px;
  }

  .aos-shoes {
    position: absolute;
    top: 1000px;
    left: -200px;
    }
  
    .shoes {
      width: 1000px;
    }

    .aos-watch {
      position: absolute;
      top: 500px;
      left: 300px;
      }
    
    .watch {
        width: 200px;
      }

    .aos-phone {
      position: absolute;
      top: 700px;
      left: 185px;
      z-index: 0;
      }
      
    .phone {
        width: 300px;
        }

        .aos-keyboard {
          position: absolute;
          top: 500px;
          left: 1390px;
          }
        
        .keyboard {
            width: 300px;
          }
    
        .aos-controller {
          position: absolute;
          top: 700px;
          left: 1390px;
          z-index: 0;
          }
          
        .controller {
            width: 300px;
            }

/*Preloader*/
.preloader {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #366072;
  z-index: 100000000;
}

.preloader:before {
  content: '(.loading)';
  position: absolute;
  font-family: 'Source Code Pro';
  font-size: 5em;
  font-weight: 900;
  text-transform: none;
  color: #fff;
}

.preloader.active {
  transform: translateX(-100vw);
  transition: ease-in-out 2s;
  transition-delay: 1s;
}

.counter {
  position: absolute;
  top: 500px;
  color: #fff;
  font-family: 'Source Code Pro';
  font-size: 5em;
  font-weight: 700;
  z-index: 1;
}

.counter:after {
  content: '%';
  font-family: 'Source Code Pro';
  font-size: 0.5em;
}

.hide {
  opacity: 0;
  transition: 1s;
  pointer-events: none;
}

/*Media Queries For Responsiveness*/
